@use "src/styles/sass/variables.scss" as v;
@use "src/styles/sass/helpers.scss" as c;

.title__primary {
  @include c.text__template;
  @include c.title;
  color: v.$primaryColor;
}
.title__white {
  @include c.text__template;
  @include c.title;
  color: v.$whiteColor;
}

.title__md-primary {
  @include c.text__template;
  @include c.medium;
  color: v.$primaryColor;
}
.title__md-white {
  @include c.text__template;
  @include c.medium;
  color: v.$whiteColor;
}

.text__primary {
  @include c.text__template;
  @include c.text;
  color: v.$primaryColor;
}
.text__black {
  @include c.text__template;
  @include c.small__Text;
  color: v.$bgBlack;
}

.text__white {
  @include c.text__template;
  @include c.small__Text;
  color: v.$bgWhite;
}

.paragrah__black {
  @include c.text__template;
  @include c.paragrah__black;
  color: v.$darkColor;
}
.paragrah__white {
  @include c.text__template;
  @include c.paragrah__black;
  color: v.$whiteColor;
}
