$primaryColor: #163c45;
$secondaryColor: #c0fecf;
$darkColor: #111;
$whiteColor: #fff;
$otherColor: #a596e1;

// background
$bgPrimary: #163c45;
$bgSecodary: #c0fecf;
$bgWhite: #fff;
$bgBlack: #111;
$bgOther: #a596e1;

// font-size variable

$fs-38: 38px; // 32px
$fs-32: 32px; // 32px
$fs-28: 28px; // 28px
$fs-24: 24px; // 24px
$fs-20: 20px; // 20px
$fs-18: 18px; // 20px
$fs-16: 16px; // 16px;
$fs-14: 14px; // 14px
$fs-12: 12px; // 12px

// font-family
$primaryFont: "Poppins" serif;
$secondaryFont: "Rubik" serif;

// responsiveness
$xLarge: "only screen and (min-width: 1921px)";
$desktop: "only screen and (min-width: 1201px) and (max-width: 1920px)";
$laptop: "only screen and (min-width: 992px) and (max-width: 1200px)";
$laptop__lanscape: "only screen and (min-width: 1200px) and (orientation: landscape)";
$tablet: "only screen and (min-width: 768px) and (max-width: 992px)";
$tablet__lanscape: "only screen and (min-width: 992px) and (max-width: 1200px) and (orientation: landscape)";
$mobile: "only screen and (min-width: 457px) and (max-width: 767px)";
$mobile__lanscape: "only screen and (min-width: 457px) and (max-width: 992px) and (orientation: landscape)";
$small: "only screen and (max-width: 456px)";
$landscape: "only screen and (orientation: landscape)";
